body 
  {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; 
/*  font-family: "Times New Roman",Times,serif; */
  color: #000000;
  background-color: #99CCFF; 
  line-height: 1.4em
  }

p
  {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.4em
  }

h1 
  {
  margin-top: 1.5em;
  margin-bottom: 1.0em;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; 
  font-size: 2em

  }

h2 
  {
  margin-top: 2.0em;
  margin-bottom: 0.8em;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; 
  font-size: 1.4em
  }


pre
  {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.4em;
  font-family: Courier, "Courier New", monospace
  }

pre.box
  {
  background-color: #CCE7FF;
  padding: 1em 
  }



code
  {
  font-family: Courier, "Courier New", monospace
  }

img 
  {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0
  }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link 
  {
  color: blue 
  }

a:visited 
  {
  color: blue 
  }

hr
  {
  margin-top:1em;
  margin-bottom:1em;
  border:0;
  color:#000080;
  background-color: #0000a0;
  height: 1px
  }

